@model IEnumerable<AngularWebApplication.Player>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">List of All Players</h2>
<br /><hr />

@* Use ng-controller *@
<div ng-controller="PlayerController">
    <table class="table table-dark table-bordered table-hover ">
        <tr>
            <th>ID</th>
            <th>Player Name</th>
            <th>Club</th>
            <th>Position</th>
            <th>Joined Club On</th>
            <th>Action</th>
        </tr>

        @* Fetch All the Player record using ng-repeat *@
        <tr ng-repeat="p in player">

            <td>{{p.PlayerId}}</td>

            <td>{{p.PlayerName}}</td>
    
            <td>{{p.Club}}</td>
       
            <td>{{p.Position}}</td>
      
            <td>{{p.JoinedClubOn}}</td>
            <td>
                <input type="button" class="btn btn-outline-info" value="Edit" ng-click="RedirectToEdit(p)" /> 
                <input type="button" class="btn btn-outline-success" value="Details" ng-click="RedirectToDetails(p)" /> 
                <input type="button" class="btn btn-outline-danger" style="color:white" value="Delete" ng-click="DeleteEmployee(p)" />
            </td>
        </tr>
        

    </table>
    <p class="btn btn-outline-primary"> @Html.ActionLink("Create New", "Create", null, new { style = "color:blue" }) </p>
</div>

